@import url(https://fonts.googleapis.com/css?family=Heebo:100,200,300,regular,500,600,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import "tailwindcss";


@layer theme {
	@theme {

		/* colors */
		--primary: #ff6464;
		--secondry: #00a8cc;
		--dark: #21243d;
		--light: #8695a4;
		--white: #fff;

		/* colors 2 */

		--color: #fff;
		--gray-50: #f9fafb;
		--gray-100: #f3f4f6;
		--gray-200: #e5e7eb;
		--gray-300: #d1d5db;
		--gray-400: #9ca3af;
		--gray-500: #6b7280;
		--gray-600: #4b5563;
		--gray-700: #374151;
		--gray-800: #1f2937;
		--gray-900: #111827;
		--gray-950: #030712;
		--emerald-500: #10b981;
		--neutral---white: #fff;
		--gray---default: #fff;
		--gray-dark-default: #030712;
		--gray-dark-50: #111827;
		--gray-dark-100: #1f2937;
		--gray-dark-200: #374151;
		--gray-dark-300: #4b5563;
		--gray-dark-400: #6b7280;
		--gray-dark-500: #9ca3af;
		--gray-dark-600: #d1d5db;
		--gray-dark-700: #e5e7eb;
		--gray-dark-800: #f3f4f6;
		--gray-dark-900: #f9fafb;
		--gray-dark-950: rgba(255, 255, 255, 0);
		--gray-default---500: rgba(255, 255, 255, 0.5);
		--gray-dark-default---500: rgba(3, 7, 18, 0.5);
		--gray-900---100: rgba(17, 24, 39, 0.1);
		--gray-dark-900---100: rgba(249, 250, 251, 0.1);

		/* fonts */
		--font-family: "Heebo", sans-serif;
		--second-family: "Circular Std", sans-serif;
		--third-family: "Inter", sans-serif;
	}
}

@layer base {
	html {
		scroll-behavior: smooth;
		overflow-x: hidden;
	}

	body {
		font-family: var(--third-family);
	}

	button {
		cursor: pointer;
	}
}

@layer components {

	/* router */
	a.active {
		color: var(--gray-900);
		@apply bg-(--gray-100)
	}
}

@layer utilities {
	.container {
		max-width: 1200px;
		margin: 0 auto;
		padding: 0 30px;
	}
}
