@import url(https://fonts.googleapis.com/css?family=Heebo:100,200,300,regular,500,600,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import "tailwindcss";


@layer theme {
	@theme {

		/* colors */
		--primary: #ff6464;
		--secondry: #00a8cc;
		--dark: #21243d;
		--light: #8695a4;
		--white: #fff;

		/* fonts */
		--font-family: "Heebo", sans-serif;
		--second-family: "Circular Std", sans-serif;
		--third-family: "Inter", sans-serif;
	}
}

@layer base {
	html {
		scroll-behavior: smooth;
	}

	body {
		font-family: var(--font-family);
	}

	button {
		cursor: pointer;
	}
}

@layer components {

	/* router */
	a.active {
		color: rgb(56, 56, 245);
	}
}

@layer utilities {
	.container {
		max-width: 1200px;
		margin: 0 auto;
		padding: 0 30px;
	}
}
